# Dicionários - aula 3
---
* Exercitando
* Novas formas de criar dicionários e inserir elementos;
* Alguns métodos de dicionários;
* Dicionários com listas.
* Exemplo

## Exercitando
---

**Exemplo 1**

In [1]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [2]:
mais_vendidos

{'tecnologia': 'iphone',
 'refrigeracao': 'ar consul 12000 btu',
 'livros': 'o alquimista',
 'eletrodoméstico': 'geladeira',
 'lazer': 'prancha surf'}

In [3]:
vendas_tecnologia

{'iphone': 15000,
 'samsung galaxy': 12000,
 'tv samsung': 10000,
 'ps5': 14300,
 'tablet': 1720,
 'ipad': 1000,
 'tv philco': 2500,
 'notebook hp': 1000,
 'notebook dell': 17000,
 'notebook asus': 2450}

* Qual foi o item mais vendido nas categorias livros e lazer ?

In [4]:
print('O livro mais vendido foi', mais_vendidos['livros'])

O livro mais vendido foi o alquimista

In [5]:
print('Na categoria lazer o item mais vendido foi', mais_vendidos['lazer'])

Na categoria lazer o item mais vendido foi prancha surf

* Quanto foi vendido de notebook asus e ipad?

In [6]:
print('O notebook asus vendeu:', vendas_tecnologia['notebook asus'],'\nO ipad vendeu:', vendas_tecnologia['ipad'])

O notebook asus vendeu: 2450
O ipad vendeu: 1000

**Exemplo 2**

In [7]:
vendas_tecnologia

{'iphone': 15000,
 'samsung galaxy': 12000,
 'tv samsung': 10000,
 'ps5': 14300,
 'tablet': 1720,
 'ipad': 1000,
 'tv philco': 2500,
 'notebook hp': 1000,
 'notebook dell': 17000,
 'notebook asus': 2450}

* A equipe de vendas necessita saber quais aparelhos de tecnologia venderam acima de 5000.

In [8]:
acima_de_5000 = []

for tecnologia in vendas_tecnologia:
    if vendas_tecnologia.get(tecnologia) > 5000:
        acima_de_5000.append(tecnologia)
print(acima_de_5000)

['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'notebook dell']

In [9]:
len(acima_de_5000)

5

In [10]:
len(vendas_tecnologia)

10

In [11]:
nome = {
    0:'1545',
    1:'454548',
}

In [12]:
nome

{0: '1545', 1: '454548'}

In [13]:
my_dict = dict()

In [14]:
my_dict

{}

## Novas formas de criar dicionários e inserir elementos 
---

A [documentação](https://docs.python.org/pt-br/3/library/stdtypes.html#typesmapping) ajuda bastante nesta parte...

**Criação de dicionários**
* Pelo construtor `dict`

In [16]:
my_dict = dict(pedro=25, joao=36)
my_dict

{'pedro': 25, 'joao': 36}

In [15]:
my_dict = dict(pedro=homem, joao=36)
my_dict

NameError: name 'homem' is not defined

In [60]:
homem

'homem'

In [17]:
my_dict = dict(pedro='homem', joao=36)
my_dict

{'pedro': 'homem', 'joao': 36}

In [19]:
my_dict = dict(pedro=25, joao=36)
my_dict

{'pedro': 25, 'joao': 36}

In [20]:
my_dict = {'pedro':25, 'joao0':36}
my_dict

{'pedro': 25, 'joao0': 36}

* Lista/tupla de pares

In [22]:
funcionarios = [('juca', 1250), ('jana', 5600)]
funcionarios

[('juca', 1250), ('jana', 5600)]

In [23]:
dict(funcionarios)

{'juca': 1250, 'jana': 5600}

In [25]:
funcionarios = (('juca', 1250), ('jana', 5600))
funcionarios

(('juca', 1250), ('jana', 5600))

In [26]:
dict(funcionarios)

{'juca': 1250, 'jana': 5600}

In [27]:
funcionarios = [['juca', 1250], ['jana', 5600]]
funcionarios

[['juca', 1250], ['jana', 5600]]

In [28]:
dict(funcionarios)

{'juca': 1250, 'jana': 5600}

* `zip`

In [29]:
materias = ('mecanica do sólidos', 'topografia', 'isoestática', 'mecânica do fluidos')
notas = [6, 7.5, 8, 3]

In [31]:
for i in zip(materias, notas):
    print(i)

('mecanica do sólidos', 6)
('topografia', 7.5)
('isoestática', 8)
('mecânica do fluidos', 3)

In [32]:
materias = ['mecanica do sólidos', 'topografia', 'isoestática', 'mecânica do fluidos']
notas = [6, 7.5, 8, 3]

In [33]:
for i in zip(materias, notas):
    print(i)

('mecanica do sólidos', 6)
('topografia', 7.5)
('isoestática', 8)
('mecânica do fluidos', 3)

In [34]:
dict(zip(materias, notas))

{'mecanica do sólidos': 6,
 'topografia': 7.5,
 'isoestática': 8,
 'mecânica do fluidos': 3}

In [37]:
notas = dict(zip(notas, materias))
notas

{6: 'mecanica do sólidos',
 7.5: 'topografia',
 8: 'isoestática',
 3: 'mecânica do fluidos'}

In [38]:
notas[6]

'mecanica do sólidos'

**Inserção de elementos**

In [39]:
vendas_tecnologia

{'iphone': 15000,
 'samsung galaxy': 12000,
 'tv samsung': 10000,
 'ps5': 14300,
 'tablet': 1720,
 'ipad': 1000,
 'tv philco': 2500,
 'notebook hp': 1000,
 'notebook dell': 17000,
 'notebook asus': 2450}

* Inserção padrão

In [40]:
vendas_tecnologia['x box'] = 5600

In [41]:
vendas_tecnologia

{'iphone': 15000,
 'samsung galaxy': 12000,
 'tv samsung': 10000,
 'ps5': 14300,
 'tablet': 1720,
 'ipad': 1000,
 'tv philco': 2500,
 'notebook hp': 1000,
 'notebook dell': 17000,
 'notebook asus': 2450,
 'x box': 5600}

* Inserção pelo método `update`

In [42]:
# inserção pelo método update()
# para utilizar este método, vamos precisar de outro dicionário, isto é, vamos adicionar um dicionário a outro dicionário.
vendas_tecnologia_2 = {'iphone 10': 8000,
 'samsung galaxy note S+': 6500,
 'tv philco 43': 12500,
 'ps7': 4000,
 'tablet philips': 350,
}

vendas_tecnologia_2

{'iphone 10': 8000,
 'samsung galaxy note S+': 6500,
 'tv philco 43': 12500,
 'ps7': 4000,
 'tablet philips': 350}

In [43]:
vendas_tecnologia.update(vendas_tecnologia_2)

In [44]:
vendas_tecnologia

{'iphone': 15000,
 'samsung galaxy': 12000,
 'tv samsung': 10000,
 'ps5': 14300,
 'tablet': 1720,
 'ipad': 1000,
 'tv philco': 2500,
 'notebook hp': 1000,
 'notebook dell': 17000,
 'notebook asus': 2450,
 'x box': 5600,
 'iphone 10': 8000,
 'samsung galaxy note S+': 6500,
 'tv philco 43': 12500,
 'ps7': 4000,
 'tablet philips': 350}

In [45]:
vendas_tecnologia.update({'ps8':2560})

* Inserção for um loop

Na empresa X-bay, a equipe de recursos humanos enviou os nomes dos funcionários e os valores dos respectivos salários e pediu para a equipe de desenvolvimento organizar os dados de uma forma que os nomes sejam seguros (invioláveis) e o salário não, pois este pode receber mudanças. Além disso, a equipe de rh precisa acessar os valores de forma simples.

> funcionários : 'Nilo', 'Coutinho', 'Bruce', 'Maria', 'Downey'

> salarios     : 1250, 5000, 2500, 3500, 2750

In [53]:
funcionarios = 'Nilo', 'Coutinho', 'Bruce', 'Maria', 'Downey'
salarios =  [1250, 5000, 2500, 3500, 2750]

In [80]:
folhas_de_pagamento = dict()

for i, funcionario in enumerate(funcionarios):
    folhas_de_pagamento[funcionario] = salarios[i]

In [55]:
folhas_de_pagamento

{'Nilo': 1250, 'Coutinho': 5000, 'Bruce': 2500, 'Maria': 3500, 'Downey': 2750}

* Criando uma forma de consultar!

In [59]:
nome = input('Insira o nome do funcionário: ') # solução .capitalize()

try:
    folhas_de_pagamento[nome]
except:
    print('O funcionário digitado inválido!')

Insira o nome do funcionário: bruce
O funcionário digitado inválido!

In [61]:
folhas_de_pagamento_1 = dict()

for i, funcionario in enumerate(funcionarios):
    folhas_de_pagamento_1.update({funcionario:salarios[i]})
folhas_de_pagamento_1

{'Nilo': 1250, 'Coutinho': 5000, 'Bruce': 2500, 'Maria': 3500, 'Downey': 2750}

## Métodos de dicionários
---

In [147]:
vendas_tecnologia = {
     'iphone': 15000,
     'samsung galaxy': 12000,
     'tv samsung': 10000,
     'ps5': 14300,
     'tablet': 1720,
     'ipad': 1000,
     'tv philco': 2500,
     'notebook hp': 1000,
     'notebook dell': 17000,
     'notebook asus': 2450,
     'x box': 5600,
     'iphone 10': 8000,
     'samsung galaxy note S+': 6500,
     'tv philco 43': 12500,
     'ps7': 4000,
     'tablet philips': 350
}

* items()

In [107]:
for i in vendas_tecnologia.items():
    print(i)

('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)
('notebook dell', 17000)
('notebook asus', 2450)
('x box', 5600)
('iphone 10', 8000)
('samsung galaxy note S+', 6500)
('tv philco 43', 12500)
('ps7', 4000)
('tablet philips', 350)

* values()

In [111]:
lista_de_valores = list(vendas_tecnologia.values())
lista_de_valores

[15000,
 12000,
 10000,
 14300,
 1720,
 1000,
 2500,
 1000,
 17000,
 2450,
 5600,
 8000,
 6500,
 12500,
 4000,
 350]

* keys()

In [112]:
vendas_tecnologia.keys()

dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus', 'x box', 'iphone 10', 'samsung galaxy note S+', 'tv philco 43', 'ps7', 'tablet philips'])

**`iter`**

In [119]:
for key in iter(vendas_tecnologia):
    print(key)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus
x box
iphone 10
samsung galaxy note S+
tv philco 43
ps7
tablet philips

* pop()

In [121]:
valor_do_iphone = vendas_tecnologia.pop('iphone')
valor_do_iphone

15000

In [123]:
'iphone' in vendas_tecnologia

False

* get()

In [130]:
key = 'aksdkasdkas'
if vendas_tecnologia.get(key):
    print(vendas_tecnologia.get(key))
else:
    print('Essa chave não está disponível!')

Essa chave não está disponível!

In [133]:
# essa não é a melhor forma par a gente tratar esse retorno
key = 'aksdkasdkas'
try:
    vendas_tecnologia.get(key)
    print(vendas_tecnologia.get(key))
except:
    print('Essa chave não está disponível!')

None

In [141]:
if ():
    print('Oi')
else:
    print('Olá')

Olá

* clear()

In [148]:
len(vendas_tecnologia)

16

In [149]:
vendas_tecnologia.clear()

In [150]:
len(vendas_tecnologia)

0

## Dicionário com listas
---

In [163]:
funcionarios = {
    'Pedro'  :[25, 1.70, True, 'Engenheiro Civil', 'Setor de desenvolvimento'],
    'Beatriz':[23, 1.69, True, 'Graduanda de Medicina', 'Estudante'],
    'Lázaro' :[24, 1.83, False, 'Engenheiro Eletricista', 'Projetos elétricos'],
    'Bianca' :[23, 1.70, True, 'Sem profissão', 'Estudante'],
    'Julia'  :[35, 1.89, False, 'Jogadora de Volei', 'Atleta'],
    'Roberto':[65, 1.65, True, 'Dentista', 'Aposentado'],
    'Flávio' :[23, 1.86, True, 'Enfermeiro', 'Hospital vila bela'],
    'Carlos' :[25, 1.55, True, 'Ator', 'Atuando em novela'],
}

In [154]:
funcionarios

{'Pedro': [25, 1.7, True, 'Engenheiro Civil', 'Setor de desenvolvimento'],
 'Beatriz': [23, 1.69, True, 'Graduanda de Medicina', 'Estudante'],
 'Lázaro': [24, 1.83, False, 'Engenheiro Eletricista', 'Projetos elétricos']}

* Brincando um pouco com esse dicionário

In [158]:
funcionarios['Pedro']

[25, 1.7, True, 'Engenheiro Civil', 'Setor de desenvolvimento']

In [159]:
funcionarios['Pedro'][3]

'Engenheiro Civil'

In [160]:
funcionarios['Beatriz'][-1]

'Estudante'

In [161]:
funcionarios['Lázaro'][1:3]

[1.83, False]

In [ ]:
funcionarios = {
    'Pedro'  :[25, 1.70, True, 'Engenheiro Civil', 'Setor de desenvolvimento'],
    'Beatriz':[23, 1.69, True, 'Graduanda de Medicina', 'Estudante'],
    'Lázaro' :[24, 1.83, False, 'Engenheiro Eletricista', 'Projetos elétricos'],
    'Bianca' :[23, 1.70, True, 'Sem profissão', 'Estudante'],
    'Julia'  :[35, 1.89, False, 'Jogadora de Volei', 'Atleta'],
    'Roberto':[65, 1.65, True, 'Dentista', 'Aposentado'],
    'Flávio' :[23, 1.86, True, 'Enfermeiro', 'Hospital vila bela'],
    'Carlos' :[25, 1.55, True, 'Ator', 'Atuando em novela'],
}

* A empresa deseja saber o percentual de funcionários que se vacinaram

`True == 1`

`False == 0`

In [169]:
positivos = []

for funcionario in funcionarios:
    foi_vacinado = funcionarios[funcionario][2]
    if foi_vacinado:
        positivos.append(foi_vacinado)

print(f'A porcentagem de vacinados foi de {sum(positivos) / len(funcionarios):.2%}')

A porcentagem de vacinados foi de 75.00%