# Aprofundando em dicionários com listas
---
* for dentro de for (loop <font color="blue">aninhados</font>);
* aprendendo um pouco mais sobre a função print;
* exemplos de for aninhados;
* Mais exemplos com dicionários.

## for dentro de for
---

O que o código abaixo irá gerar ?

```python

for i in range(5):
    for j in range(5, 10):
        print(i, j)
```

In [27]:
# ---
# i -> 0
# j -> 5
# 0 5
# ---
# i -> 0
# j -> 6
# ---
# i -> 0
# j -> 7
# ...
# i -> 0
# j -> 9
# ---
# i -> 1
# i -> 5

In [28]:
for i in range(5):
    for j in range(5, 10):
        print(i, j)

0 5
0 6
0 7
0 8
0 9
1 5
1 6
1 7
1 8
1 9
2 5
2 6
2 7
2 8
2 9
3 5
3 6
3 7
3 8
3 9
4 5
4 6
4 7
4 8
4 9

## aprendendo um pouco mais sobre a função:
---
**<font color="purple">print()</font>**

Aqui está à [documentação](https://docs.python.org/pt-br/3/library/functions.html#print)

```python
 print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
```

Vamos entender como funciona esse argumento `end`: O valor padrão de end é uma nova linha “\n” e por isso que sempre a função print adiciona uma nova linha depois de imprimir tudo que lhe foi passado, mas, podemos definir outro valor com uma tabulação “ ”.

In [29]:
print('adasda','asdads')

adasda asdads

In [30]:
print('adasda','asdads', sep='||')

adasda||asdads

* Padrão!

In [38]:
print('adasda','asdads')
print('adasda','asdads')

adasda asdads
adasda asdads

In [36]:
# vamos testar a variação do argumento end

In [45]:
print('adasda','asdads', end='\t')
print('adasda','asdads', end='\t')

adasda asdads	adasda asdads

In [41]:
print('adasda','asdads', end=' ')
print('adasda','asdads', end=' ')

adasda asdads adasda asdads

## exemplos de for aninhados
---
**<font color="green">Exemplo 1</font>**: Vamos criar um tabuleiro de tamanho:  N x N

In [43]:
n = int(input('Valor de N: \n'))

for linha in range(n):
    for coluna in range(n):
        print('x', end=' ')
    print()

Valor de N:
3
x x x
x x x
x x x

**<font color="green">Exemplo 2</font>**: Vamos construir um sistema que peça a quantidade de alunos e matérias. Depois, para cada aluno peça a nota para cada matéria cursa e calcule a média do aluno e, finalmente, calcule a média da turma toda.

In [52]:
alunos = int(input('Quantidade de alunos: \n'))
materias = int(input('Quantiade de matérias: \n'))

somas_das_medias_dos_alunos = 0

for aluno in range(alunos):
    print(f'Aluno {aluno+1} :')
    
    notas_do_aluno = 0
    for materia in range(materias):
        print(f'Nota da matéria {materia+1}:')
        nota=float(input('Insira sua nota, marreco: '))
        notas_do_aluno += nota
        
    media_do_aluno = notas_do_aluno/materias
    print(f'O aluno tem a média', media_do_aluno, "\n")
    
    somas_das_medias_dos_alunos += media_do_aluno
print(f'A média da turma é de {somas_das_medias_dos_alunos / alunos}')

Quantidade de alunos:
2
Quantiade de matérias:
2
Aluno 1 :
Nota da matéria 1:
Insira sua nota, marreco: 6
Nota da matéria 2:
Insira sua nota, marreco: 6
O aluno tem a média 6.0

Aluno 2 :
Nota da matéria 1:
Insira sua nota, marreco: 6
Nota da matéria 2:
Insira sua nota, marreco: 6
O aluno tem a média 6.0

A média da turma é de 6.0

* **<font color="red"> Desafio:</font>** Crie um programa que armazene todos os resultados possíveis para a mega-sena e, posteriormente, calcule a probabilidade de ganhar na mega-sena.

probabilidade = evento / total_amostras

**Obs:**
* São 6 números
* Estes números variam de 1 até 60

In [60]:
n = 3

for linha in range(n):
    for coluna in range(n):
        print('x', end=' ')
    print()

x x x
x x x
x x x

In [ ]:
# jogo - 4, 11, 22, 35, 37, 45

In [ ]:
# jg1 > jg2 > jg>3 jg4 > jg5 > jg6

In [78]:
%%time
bilhetes = []
i = 60

for jg1 in range(i):
    for jg2 in range(jg1+1, i):
        for jg3 in range(jg2+1, i):
            for jg4 in range(jg3+1, i):
                for jg5 in range(jg4+1, i):
                    for jg6 in range(jg5+1, i):
                        jogo = (jg1, jg2, jg3, jg4, jg5, jg6)
                        bilhetes.append(jogo)

Wall time: 20.4 s

In [84]:
probabilidade = 1 / len(bilhetes)
print(f'{probabilidade:.6f}')

0.000000

## Mais exemplos com dicionários
---

In [85]:
funcionarios = {
    'Pedro'  :[25, 1.70, True, 'Engenheiro Civil', ('AB+', '12/5', 120.45), 'Setor de desenvolvimento'],
    'Beatriz':[23, 1.69, True, 'Graduanda de Medicina', ('A-', '14/10', 127.65), 'Estudante'],
    'Lázaro' :[24, 1.83, False, 'Engenheiro Eletricista', ('A-', '14/10', 127.65), 'Projetos elétricos'],
    'Bianca' :[23, 1.70, True, 'Sem profissão', ('A+', '9/6', 90.45), 'Estudante'],
    'Julia'  :[35, 1.89, False, 'Jogadora de Volei', ('O-', '12/8', 122.22), 'Atleta'],
    'Roberto':[65, 1.65, True, 'Dentista', ('A-', '13/9', 145.10), 'Aposentado'],
    'Flávio' :[23, 1.86, True, 'Enfermeiro', ('A+', '14/10', 137.65), 'Hospital vila bela'],
    'Carlos' :[25, 1.55, True, 'Ator', ('B-', '14/10', 126.41), 'Atuando em novela'],
}

In [95]:
for funcionario in funcionarios:
    dados = funcionarios[funcionario]
    for dado in dados:
        print(dados[4][0])

AB+
AB+
AB+
AB+
AB+
AB+
A-
A-
A-
A-
A-
A-
A-
A-
A-
A-
A-
A-
A+
A+
A+
A+
A+
A+
O-
O-
O-
O-
O-
O-
A-
A-
A-
A-
A-
A-
A+
A+
A+
A+
A+
A+
B-
B-
B-
B-
B-
B-

In [103]:
funcionarios_2 = [funcionarios, '124578', niveis_co2, '5698745']

In [106]:
for i in funcionarios_2:
    for j in i:
        try:
            print(i[j])
        except:
            print('Não é possível imprimir!')

[25, 1.7, True, 'Engenheiro Civil', ('AB+', '12/5', 120.45), 'Setor de desenvolvimento']
[23, 1.69, True, 'Graduanda de Medicina', ('A-', '14/10', 127.65), 'Estudante']
[24, 1.83, False, 'Engenheiro Eletricista', ('A-', '14/10', 127.65), 'Projetos elétricos']
[23, 1.7, True, 'Sem profissão', ('A+', '9/6', 90.45), 'Estudante']
[35, 1.89, False, 'Jogadora de Volei', ('O-', '12/8', 122.22), 'Atleta']
[65, 1.65, True, 'Dentista', ('A-', '13/9', 145.1), 'Aposentado']
[23, 1.86, True, 'Enfermeiro', ('A+', '14/10', 137.65), 'Hospital vila bela']
[25, 1.55, True, 'Ator', ('B-', '14/10', 126.41), 'Atuando em novela']
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
[325, 405, 429, 486, 402]
[492, 495, 310, 407, 388]
[507, 503, 368, 338, 400]
[429, 456, 352, 377, 363]
[321, 508, 372, 490, 412]
[424, 328, 425, 516, 480]
[449, 506, 461, 337, 336]
[425, 460, 385, 485, 460]
[361, 310, 344, 425, 490]
[358, 402, 425, 386, 379]
[324, 357, 441, 405, 427]
[345, 367, 391, 427, 516]
[479, 514, 392, 493, 329]
[418, 499, 317, 302, 476]
[420, 508, 419, 396, 327]
[404, 444, 495, 320, 343]
[513, 513, 304, 377, 475]
[502, 481, 492, 502, 506]
[446, 437, 519, 356, 317]
[427, 518, 459, 317, 321]
[517, 466, 512, 326, 458]
[466, 495, 469, 495, 310]
[495, 436, 382, 483, 479]
[495, 407, 362, 389, 317]
[508, 351, 334, 389, 418]
[339, 490, 304, 488, 419]
[376, 516, 320, 310, 518]
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!
Não é possível imprimir!