# Para finalizar as listas
---
* `del`
* Pulo do gato com range e enumerate;
* Comparação de listas;
* Um pouco de list comprehension  
* Exercicios.

## del
---

In [21]:
nomes = ['pedro', 'julia', 'renata']

In [22]:
del nomes[0]

In [23]:
nomes

['julia', 'renata']

In [24]:
del nomes

In [25]:
nomes

NameError: name 'nomes' is not defined

## Pulo do gato com range e enumerate
---

In [29]:
list(range(10, 100, 5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [30]:
str(range(10))

'range(0, 10)'

In [34]:
list(enumerate(range(10, 21)))

[(0, 10),
 (1, 11),
 (2, 12),
 (3, 13),
 (4, 14),
 (5, 15),
 (6, 16),
 (7, 17),
 (8, 18),
 (9, 19),
 (10, 20)]

## Comparação de listas
---

```python
[2, 3] > [4, -5] # ????
```

In [35]:
[2, 3] > [4, -5]

False

In [36]:
[2, 3] > [4, -5, 6]

False

In [37]:
[2, 2] > [2, 2, 2]

False

In [42]:
[5, 3] > [3, 5]

True

In [44]:
[3, 5] == [3, 6]

False

**DESAFIO:**
* Vamos analisar melhor a comparação de listas de tamanho diferentes.

A regra será a mesma, a análise acontecerá elemento por elemento e se os elementos forem iguais passa para o próximo índice. Contudo, vale salienter, duas situações: [sub-listas](https://en.wikipedia.org/wiki/Intersection_(set_theory)) e listas diferentes.

In [4]:
# sub-listas
a = [2, 2, 6]
b = [2, 2]

print([2, 2, 6] > [2, 2])
# nessa situação o elementos a[0] e b[0] são iguais, então passa para o próximo
# a[1] e b[1] são, iguais, então passa para o próximo.
# Porém, a lista até tem 3 elementos e a lista b apenas dois.
# então, estamos no caso de sub-listas, logo a lista maior sempre será maior que a menor
# vamos testar o inverso
print([2, 2, 6] < [2, 2])

True
False

In [5]:
# listas diferentes
a = [2, 6, 8]
b = [2, 7]

# a comparação segue a regra
# a[0] == b[0], próxima comparação
# a[1] != b[1], sim, vamos analisar 6 > 7, não, portanto False
a > b

False

## List comprehension 
---

É uma forma elegante de criar listas.

```python
lista = [expressão for x in range(10)]
```

In [52]:
# com o for 
lista = []
for i in range(10):
    lista.append(i ** 2)

In [53]:
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# com list comprehension
lista = [i ** 2 for i in range(10)]
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Exercícios
---

* Lista de compras

In [59]:
compras = []

while True:
    produto = input('Produto: ')
    if produto == 'fim':
        break
    quantidade = int(input('Quantidade: '))
    preco = float(input('Preço: '))
    compras.append([produto, quantidade, preco])

soma = 0

for i in compras:
    print(f'{i[0]} | {i[1]}unid | Total (R$): {i[1] * i[-1]}')
    soma += i[1] * i[-1]
print(f'A conta total deu {soma:.2f}')

Produto: cerveja
Quantidade: 50
Preço: 2.5
Produto: carne
Quantidade: 4
Preço: 22.56
Produto: frango
Quantidade: 6
Preço: 12.00
Produto: fim
cerveja | 50unid | Total (R$): 125.0
carne | 4unid | Total (R$): 90.24
frango | 6unid | Total (R$): 72.0
A conta total deu 287.24

* Desenvolva uma lista de tarefas.

In [61]:
lista = ['Arrumar o quarto']

while lista:
    tarefa = input('Adicione uma tarefa: ')
    lista.append(tarefa)
    if len(lista) == 5:
        break  
lista

Adicione uma tarefa: tomar banho
Adicione uma tarefa: passear com os dogs
Adicione uma tarefa: escovar os dentes
Adicione uma tarefa: comer

['Arrumar o quarto',
 'tomar banho',
 'passear com os dogs',
 'escovar os dentes',
 'comer']

* Calculando a média com listas

In [63]:
notas = []

while True:
    nota = float(input('Nota: '))
    if nota == -1:
        break
    notas.append(nota)

media = sum(notas) / len(notas)

print('Média', media)

Nota: 6
Nota: 7.5
Nota: 1
Nota: 3
Nota: -1
Média 4.375

In [68]:
notas = [4, 3, 9, 6]

In [66]:
sum(notas)

22

In [72]:
sum(notas, start=10)

32

* Problema no ENEM. Os gabaritos dos alunos devido à algum bug no sistema, ficou de forma invertida, isto é, o aluno escreveu [A, B, D] e o site entendeu como [D, B, A]. Por isso, é preciso arrumar isso o mais rápido possível.

In [73]:
gabarito_errado = ['a', 'c', 'e', 'f']

In [74]:
gabarito_errado.reverse()
gabarito_errado

['f', 'e', 'c', 'a']